body {
    background-image: url("../Img/login_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.right-card {
    position: relative;
}

    .right-card::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("../img/login_card_bg.jpg");
        opacity: 0.9;
        z-index: -1;
    }

#forgetPasswdIcon {
    max-width: 40px;
    transform: rotate(30deg) translateY(-10px);
    color: white;
    filter: brightness(0) invert(1);
}

.detailInput {
    position: relative;
    margin: 30px auto;
    width: 80%;
}

.detailInput input {
    background: transparent;
    border: 0;
    border-bottom: 2px solid #333;
    padding: 10px 5px 5px 5px;
    display: block;
    font-size: 18px;
    font-family: "Muli", sans-serif;
    width: 80%;
    transition: 0.1s ease-in;
    color: white;
}

.detailInput input:focus,
.detailInput input:valid {
    border-bottom-color: dimgrey;
    outline: none;
}

    .detailInput input:focus + label span,
    .detailInput input:valid + label span {
        color: whitesmoke;
        transform: translateY(-25px);
    }

.detailInput label {
    position: absolute;
    cursor: text;
    top: 10px;
    left: 0;
    user-select: none;
}

.detailInput label span {
    display: inline-block;
    font-size: 16px;
    min-width: 5px;
    transition: 0.1s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.verifyBtnCss {
    background-color: white;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 8px 10px;
    filter: brightness(90%);
}