/* Style for the step container */
.step-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Align items to the bottom */
    margin: 20px;
}

.step.active {
    color: white;
}

    .step.active .seat.occupied {
        color: white;
    }

.step.completed {
    color: white;
}

    .step.completed .seat.occupied {
        background-color: white;
    }

/* Style for each step */
.step {
    text-align: center;
    font-size: 25px; /* Adjust the font size as needed */
    margin-bottom: 5px; /* Adjust the spacing between the step and the line */
    color: white;
}

/* Style for the line between steps */
.step-line {
    color: white; /* Change the color of the line as needed */
    margin: 20px 0 auto; /* Center the line with some spacing */
    font-size: 40px;
}

.seat {
    background-color: #444451;
    height: 30px;
    width: 35px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .seat.occupied {
        background-color: #fff;
    }

.carousel-test .card {
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
}

    .carousel-test .card::after {
        content: "";
        background: linear-gradient(to top, #3494e6, #ec6ead);
        opacity: 0.8;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        z-index: -1;
    }

.carousel-test .company-name {
    position: absolute;
    top: 0;
    left: 0;
}

.carousel-test .visa {
    position: absolute;
    top: 0;
    right: 0;
}

.carousel-test input {
    border: none;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #fff;
}

    .carousel-test input::placeholder {
        color: #fff;
        opacity: 0.6;
        font-size: 0.8em;
    }

.buttons-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media query for adjusting the logo size based on the screen width */
@media (min-width: 600px) {
    .logo-img {
        max-width: 90%;
        max-height: 90%;
    }
}
