<?xml version="1.0"?>
<configuration>
  <system.web>
	
  </system.web>

	<system.webServer>
		<httpErrors errorMode="Custom">
			<remove statusCode="404"/>
			<error statusCode="404" path="/Admin/AdminError404.aspx" responseMode="ExecuteURL"/>

			<remove statusCode="403"/>
			<error statusCode="403" path="/Admin/AdminError403.aspx" responseMode="ExecuteURL"/>

			<remove statusCode="405"/>
			<error statusCode="405" path="/Admin/AdminError405.aspx" responseMode="ExecuteURL"/>
		</httpErrors>
	</system.webServer>
</configuration>
